* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(135deg, #141e30, #243b55);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 800px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

header {
    text-align: center;
    margin-bottom: 25px;
}

header h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
    opacity: 0.8;
    font-size: 14px;
}



/* Quote Box */
.quote-box {
    background-color: black;
    padding: 20px;
    border-left: 5px solid #00d4ff;
    border-radius: 10px;
    margin-bottom: 30px;
    min-height: 80px;
    display: flex;
    align-items: center;
}

#quote {
    font-size: 18px;
    line-height: 1.5;
}

/* Task Input */
.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    color: white;
}

.task-input input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background: rgba(255,255,255,0.1);
    color: white;

}

.task-input button {
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background: #00d4ff;
    font-weight: bold;
    cursor: pointer;
}

/* Task List */
#taskList {
    list-style: none;
}

#taskList li {
    background: rgba(255,255,255,0.1);
    margin-bottom: 10px;
    padding: 12px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Status Colors */
#taskList li.pending {
    border-left: 5px solid #9e9e9e;
}

#taskList li.progress {
    border-left: 5px solid #f0ad4e;
}

#taskList li.completed {
    border-left: 5px solid #4caf50;
}

#taskList li.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

/* Actions */
.task-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.task-actions select {
    padding: 6px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 13px;
}

.task-actions button {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #f44336;
    color: #fff;
}
